#watchLeft {

    width: 20%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#watchLeft:hover {

    overflow: overlay;
    overflow-x: hidden;
}

.watchLeftToggleBtn {
    
    width: 100%;
    height: 20%;
    background-color: brown;
}

#watchLeft> div {

    padding: 2%;
    overflow-y: overlay;
}