.preview {

    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    width: 100%;
    padding: 0.1rem;
    box-sizing: border-box;
    height: max-content;
}

.insidePreview {

    /* background-color: blueviolet; */
    width: 100%;
    height:max-content;
    padding: 0%;
    border: none;
    border-radius: 5%;
    overflow: hidden;
}


.thumbnail {

    border-radius: 5%;
}

.thumbnail:hover {

    transform: scale(1.1);
    transition: 0.5s;
}

.previewFooter {

    display: flex;
}

.previewFooterLogo {

    width: 10%;
}

.channelLogo {

    border-radius: 100%;
    border: 2px solid rgb(57, 47, 47);
}

.previewFooterText {

    width: 90%;
    padding-left: 2%;
}

.videoTitle {

    /* background-color: burlywood; */
    padding: 1%;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.channelName {

    /* background-color: aqua; */
    padding: 1%;
    font-weight: lighter;
    font-style: oblique;
}

.insidePreview:hover {

    cursor: pointer;
}