.channelPageSideBarUpper {

    padding: 1rem;
}

.channelPageLogo {

    padding: 0%;
    margin: 0%;
    width: 100%;
    border-radius: 100%;
    border-style: solid;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.channlePageTitle {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    height: 2.5rem;
}