.channelPageMain {

    width: 80%;
    background-color: rgb(164, 132, 194);
    padding: .5rem;
    padding-top: 0rem;
    overflow:overlay;
}

.channelBanner {

    width: 100%;
    box-sizing: border-box;
}